name: aria_env
channels:
  - defaults
dependencies:
  - python=3.8
  - matplotlib
  - ipykernel
  - proplot
  - xarray
  - cdsapi
  - cartopy
  - dask
  - netcdf4
  - earthengine-api
  - oauthlib
  - requests-oauthlib
  - openeo
prefix: /opt/anaconda3/envs/aria_env
